<hr>
<div class="row">
	<div class="col-xs-12">
		<div class="col-xs-12 col-md-6">
			<div class="row">
				<div class="col-xs-12 col-md-6"><img src="{% for a in site.static_files%}{%if a.name=='logo.png'%}{{a.path}}{%endif%}{%endfor%}" style="max-height: 64px" alt=""></div>
				<div class="col-xs-12 col-md-6">adres: PLO nr II<br> 
			ul. Pułaskiego 3<br>
			45-048 Opole<br>
			tel. 077 45 422 86 <br>
			fax 077 02 18 87<br>
			e-mail: <br>
			bez.tytulu@o2.pl</div>
			</div>
           </div>
		<div class="col-xs-12 col-md-6 text-right">
			<div class="col-xs-12 col-md-6">
				<b>DTP</b><br>
				Łukasz Podstawa, 
				Jakub Kaziszyn, 
				Bartosz Rosiak, 
				Mateusz Hurnik<br>
				<b>Opiekun</b><br>
				mgr Lucyna Rudnik
			</div>
			<div class="col-xs-12 col-md-6">
				<b>Zespół redakcyjny</b><br>
				Patrycja Węgrzynowska,
				Aleksandra Grodzicka,
				Joanna Langer, 
				Karolina Kapula, 
				Franek Posacki, 
				Paweł Moroz, 
				Kamil Niesłony, 
				Olga Porczyńska, 
				Jula Żak
			</div>
   		</div>
	</div>
</div>